@import "tailwindcss";

:root {
  --radius: 0.75rem;

  /* 🎨 Colores estudiantiles - TEMA CLARO */
  --primary:      #6D5EF7;
  --secondary:    #FFD166;
  --accent:       #7EE0E4;
  --pop:          #FF7A90;
  --ink:          #1F2937;
  --muted-ink:    #64748B;

  --bg:           #FFFFFF;
  --card:         #FFFFFF;
  --chip:         #F3F0FF;
  --ring:         #C7D2FE;
  --border:       #E5E7EB;

  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * { @apply outline-[var(--ring)]/50; }
  body { @apply bg-[var(--bg)] text-[var(--ink)]; }
}

.checkbox-purple {
  accent-color: #6D5EF7 !important;
}

.notification-banner-success {
  background-color: #D1FAE5;
  color: #065F46;
  border: 1px solid #065F46;
}

.notification-banner-error {
  background-color: #FECACA;
  color: #DC2626;
  border: 1px solid #DC2626;
}

.notification-banner-info {
  background-color: #DBEAFE;
  color: #1E40AF;
  border: 1px solid #1E40AF;
}

.bg-ucn-purple {
  min-height: 100vh;

  background-image:
    linear-gradient(
      to bottom,
      transparent,
      rgba(88, 28, 135, 0.5),
      rgba(46, 16, 101, 0.9)
    ),
    linear-gradient(
      to right,
      rgba(76, 29, 149, 0.9),
      rgba(107, 33, 168, 0.9),
      rgba(192, 38, 211, 0.8)
    ),
    url("/fondo.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: normal, hard-light, normal;  
}

.bg-ucn-blue {
  min-height: 100vh;

  background-image:
    linear-gradient(
      to bottom,
      transparent,
      rgba(28, 44, 135, 0.5),
      rgba(16, 46, 101, 0.9)
    ),
    linear-gradient(
      to right,
      rgba(29, 71, 149, 0.9),
      rgba(33, 69, 168, 0.9),
      rgba(38, 159, 211, 0.8)
    ),
    url("/fondo.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: normal, hard-light, normal;  
}